<h1> Angular? </h1>
{{test}}

<button ng-click="authenticate('github')">Sign in with GitHub</button>

<button ng-click="logout()">Logout</button>
<button ng-click="isAuthenticated()">Logout</button>

<ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated()">
  <li><a href="/#/login">Login</a></li>
  <li><a href="/#/signup">Sign up</a></li>
</ul>
<ul class="nav navbar-nav pull-right" ng-if="isAuthenticated()">
  <li><a href="/#/logout">Logout</a></li>
</ul>

<a href="/auth/github" class="btn btn-primary">Twitter</a>